body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

article {
    border: 1px solid blue;
    border-radius: 15px;
    background-color: lightblue;
    max-width: 450px;
}

.headerBgSrc {
    border-bottom: 1px solid blue;
    background-color: rgb(129, 202, 226);
    border-top-left-radius: 15px;
    border-radius: 15px 15px 0 0;
    background-image: url("https://img.freepik.com/premium-photo/tropical-beach-with-turquoise-seas_1170794-187533.jpg");
    background-size: cover;
    background-position: center 25%;
    background-repeat: no-repeat;
    color: white;
    padding: 15px   ;
}

.title {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 27px;
text-align: center;
}

.category {
    margin: 2px 8px;
}

.newsBody {
    padding: 15px;   
}
.date {
    padding: 5px
}